.home-page{
  .form-container{
    width: 500px;
    height: 350px;
  }
  .todo-list-container{
    .todo-container{
      display: flex;
      .title{
        margin-right: 10px;
      }
    }
  }
}
